<%- include('includes/head.ejs') %>

<div class="container-fluid">
  <%- include('includes/navbar.ejs') %>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <!-- <% if(errorMessage) { %>
      <div class="col-12 text-center"><%= errorMessage %></div>
      <% } %> -->
      <div
        class="col-10 col-sm-6 col-lg-4 col-xl-3 text-center mt-5 mb-5 pt-5 pb-5"
      >
        <% if(errorMessage) { %>
        <div class="col-12 text-center errorsMessage"><%= errorMessage %></div>
        <% } %>
        <form method="POST" action="/signup">
          <label for="inputEmail3" class="labelForm">Email</label>
          <input
            type="text"
            class="form-control inputStyles"
            id="inputEmail3"
            name="email"
          />

          <label for="password" class="labelForm">Password</label>
          <input
            type="password"
            class="form-control inputStyles"
            id="password"
            name="password"
          />

          <label for="confirmPassword" class="labelForm">
            Confirm Password</label
          >
          <input
            type="password"
            class="form-control inputStyles"
            id="confirmPassword"
            name="confirmPassword"
          />

          <button type="submit" class="btn btnStyle mt-2">Sign Up</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('includes/end.ejs') %>
</div>
